{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/STYLE.css' %}">
    <title>MALSSI</title>
</head>

<body>

    <header class="menu-principal">

        <div class="header-1">
            <div class="logo">
                <img src="https://i.imgur.com/2TFtRQi.png" alt="Image" height="80" width="80">
            </div>
            <div class="redes-sociais">
                <ul>
                    <a href="https://web.whatsapp.com/"><img src="https://i.imgur.com/IiL0lx3.png"></a>
                    <a href="https://www.instagram.com/"><img src="https://i.imgur.com/cyA8bAc.png"></a>
                    <a href="https://twitter.com/"><img src="https://i.imgur.com/bBDZy1d.png"></a> 
                    <a href=""><img src=""></a>
                </ul>
            </div>
        </div>

    </header>
    <main class="col-100 menu-urls">
        <div class="header-2">
            <div class="menu">
                <ul>
                    <li>
                        <a href="/">INÍCIO</a>
                    </li>

                    <li>
                        <a href="/lancamentos">OFERTAS</a>
                    </li>
                    <li>
                        <a href="/produtos">PRODUTOS</a>
                    </li>

                    <li>
                        <a href="/index">SUGESTÃO</a>
                    </li>
                   
                </ul>
            </div>

            <div class="PESQUISE">
                <input placeholder="PESQUISE" type="text" />
                <a href="https://lupa"><img src="https://i.imgur.com/xS3IIIX.png">
                </a>
            </div>
        </div>
    </main>


    <div class="podcast">
        <p> Equipe Malssi</p> 
        <audio controls>
        <source src="podcast senai.mp3">  #audio 
        </audio>
    </div>

        <div class="container-card">
            <div class="card">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/XF0LBgx.jpg">
                </div>
                <div class="texto">
                    <h2 class="text-main">CORTE CURTO COM FRANJÃO</h2>
                </div>
                
            </div>

            <div class="card-meio">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/kpi1oZz.jpg">
                    </a>
                </div>

                <div class="texto">
                    <h2 class="text-main">LONG BOB CURTO</h2>
                </div>
                
            </div>



            <div class="card">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/yP1weWf.jpg">
                    </a>
                </div>

                <div class="texto">
                    <h2 class="text-main">CORTE UNDERCURT FEMININO</h2>
                </div>
                
            </div>


            <div class="card">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/qHVW2sB.jpg">
                    </a>
                </div>

                <div class="texto">
                    <h2 class="text-main">DEGRADÊ ARREPIADO</h2>
                </div>
              
            </div>


            <div class="card">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/b3hbyRd.jpg">
                    </a>
                </div>

                <div class="texto">
                    <h2 class="text-main">DEGRADÊ ARREPIADO</h2>
                </div>
               
            </div>


            <div class="card">
                <div class="imagem">
                    <img class="produtos" src="https://i.imgur.com/khgEWXL.jpg">
                    </a>
                </div>

                <div class="texto">
                    <h2 class="text-main">DEGRADÊ ARREPIADO</h2>
                </div>
                
            </div>
        </div>
        
    </div>




    <div class="ENTREGAS">
        <img src="https://i.imgur.com/NHHt4en.png">
    </div>
    <footer style="background-color: #b69d9d; margin:auto; width: 100%; padding-bottom: 0px;">
        <div id="rodape" class="rodape">
            <ul style="color: #b69d9d ;display: inline-block; vertical-align: top;  ">
                <ul
                    style="text-align: left; font-family: sans-serif; color: rgb(255, 254, 254);display: inline-block; vertical-align: top; padding: 30px;">
                    <h1>Institucional</h1>
                    <ul><a href="política.html">Política de Privacidade e Segurança</a></li><img src="https://i.imgur.com/2sJmGBk.png" ></ul>
                        <ul>Trocas e devoluções</li>
                        </ul>
                        <ul
                            style="text-align: left; font-family: sans-serif; color: rgb(255, 255, 255);display: inline-block; vertical-align: top; padding: 30px;">
                            <h1>Entrar em contato</h1>
                            <ul>(11)96981-4892 <img src="https://i.imgur.com/AbJfjp2.png" >
                            </ul>
                            <ul>Atendimento: Seg a Sex - 08h às 17h
                            </ul>
                            <ul>atendimento@malssilok.com.br</ul>
                        </ul>
                    </ul>
                </ul>
            </ul>
        </div>
        <p style="text-align: center; font-family: sans-serif; color: #ffffff; padding-top: 100px;">© Copyright 2022-.
            Todos os direitos não são reservados, pode usar como base.
        </p>
    </footer>



    <div id="popup-container" class="popup-container">
        <div id="popup-content" class="popup-content">
            <button class="closeX" onclick="closepop()">X</button>
            <img src="https://i.imgur.com/kpi1oZz.jpg" style="align-content: center;">
        </div>
    </div>

    <script language=javascript type="text/javascript">
        function openPop() {
            document.getElementById('popup-container').style.display = 'block';
        }
        function closepop() {
            document.getElementById('popup-container').style.display = 'none';
        }

    </script>
</body>
</html>
