{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/politica.css' %}">
    <title>POLÍTICA DE PRIVACIDADE (SITE MALSSI)</title> 
</head>
<body>

    <div class="content">
        <!--Política de Privacidade-->
        <h1> Política de Privacidade </h1>
        <h2>QUEM É O RESPONSÁVEL POR CUIDAR DOS SEUS DADOS?</h2>
        <p> Ao interagir com o site Malssi,
            o MySQL (Sistema de Gerenciamento de Banco de Dados Relacionais) é responsável por proteger e guardar seus dados,
            seguindo os preceitos da Lei Geral de Proteção de Dados Pessoais (LGPD), Lei n° 13.709/2018,
            a qual tem o intuito de proteger os direitos fundamentais de liberdade e privacidade
            e a formação livre da personalidade de cada cidadão </p>

        <h2>QUE DADOS PESSOAIS COLETAMOS E QUANDO?</h2>
        <p> Pedimos alguns dados pessoais para conceder-lhe os serviços solicitados, sendo eles:</p>

            <p>Informações de contato, como nome, sobrenome, e-mail, telefone e endereço;
            Login e dados da conta, como ID (usuário único) e senha;
            Dados pessoais, como CPF, data de nascimento.
            </p>

        <h2>POR QUE E COMO USAMOS OS SEUS DADOS PESSOAIS?</h2>
        <p>Motivo: 
            Usamos seus dados pessoais com o intuito de identificarmos o indivíduo que está acessando o nosso site,
            buscando referir-se ao indivíduo de modo específico.</p>

        <p>Como usamos:
            Fornecendo recursos do site e oferecendo os serviços solicitados pelos nossos clientes;
            Divulgando informações sobre Ofertas, Produtos e Sugestões do site;
            Outras finalidades, como os Fins Gerais de Pesquisa e Análise (feedback dos nossos clientes a fim de melhorarmos o nosso programa).
            </p>

        <h2>PROTEÇÃO E GERENCIAMENTO DE SEUS DADOS PESSOAIS</h2>
        <p> Segurança (manter os dados protegidos de qualquer dano);
            Preservação dos seus dados pessoais (manter os dados guardados pelo tempo que for fundamental).
            </p>

        <h2>SEUS DIREITOS RELATIVOS AOS SEUS DADOS PESSOAIS</h2>
        <p> Você tem direito de solicitar a validação da realização do procedimento em armazenar seus dados pessoais;
            Você tem direito a uma cópia de seus dados pessoais solicitados;
            Você pode auterar ou atualizar seus dados, caso esteja incorreto ou incompleto;
            Você tem direito a eliminar qualquer ação desnecessária do nosso site.</p>
    </div>
    
</body>
</html>
